@tailwind base;
@tailwind components;
@tailwind utilities;

.__next,
body,
html {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

.bg-linear-gradient {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
}
